/* styles.scss
   ----------------------------- */

@font-face {
	font-family: "Futura Extra Black";
	src: url("../fonts/Futura Extra Black font.ttf");	
}
@font-face {
	font-family: "Mosk Thin";
	src: url("../fonts/Mosk Thin 100.ttf");	
}
@font-face {
	font-family: "Most Regular";
	src: url("../fonts/Mosk Normal 400.ttf");	
}
@font-face {
	font-family: "Mosk Bold";
	src: url("../fonts/Mosk Semi-Bold 600.ttf");
}
@font-face {
	font-family: "Mosk Extra Bold";
	src: url("../fonts/Mosk Extra-Bold 800.ttf");	
}
@font-face {
	font-family: "Mosk Ultra Bold";
	src: url("../fonts/Mosk Ultra-Bold 900.ttf");
}

$fontThin : 'Mosk Thin', sans-serif;
$fontRegular : 'Mosk Regular', sans-serif;
$fontBold : 'Mosk Bold', sans-serif;
$fontExtraBold : 'Mosk Extra Bold', sans-serif;
$fontUltraBold : 'Mosk Ultra Bold', sans-serif;
$lightGreen : #8EE4AF;
$colorPrimary : #F2BB05;
$colorSecondary : #262626;
$colorTertiary : #5E5E5E;
$colorFontPrimary : #000000;
$colorFontSecondary : #FFFFFF;
$blue : #05386B;
$grey : #EDF5E1;
$dotSpace : 22px;
$dotSize : 1px;

body {
	background: linear-gradient(90deg, $colorPrimary ($dotSpace - $dotSize), transparent 1%) center,
				linear-gradient($colorPrimary ($dotSpace - $dotSize), transparent 1%) center,
				$colorSecondary;
	background-size: $dotSpace $dotSpace;
	background-position-x: -$dotSpace/2;
	background-position-y: -$dotSpace/2;
	background-attachment: fixed;
	font-family: $fontRegular;
	font-size: 16px;
	line-height: 1.2;
	color: $colorFontPrimary;
}
.container {
	padding: 0 50px;
}
header {
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.logo {
	display: inline-block;
	font-family: $fontUltraBold;
	font-size: 50px;
	line-height: 1.2;
	color: $colorSecondary;
	text-decoration: none;
	padding: 15px 0;
	letter-spacing: -3px;
}
.intro {
	position: relative;
	height: calc(100vh - 90px);
	margin-top: 90px;
	.content {
		position: absolute;
		font-family: $fontExtraBold;
		font-size: 50px;
		color: $colorFontSecondary;
		text-align: center;		
		top: calc(50% - 90px/2);
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
.about {
	position: relative;
	margin-top: 25vh;
	.picture {
		width: 200px;
		border: 16px double $colorFontPrimary;
		margin-left: 20%;
		transform: translateX(-50%);
		float: left;
		img {
			display: block;
			max-width: 100%;
		}
	}
	.about-head {
	    position: absolute;
	    top: 0;
	    left: calc(20% + 100px);
	    transform: translate(-50%,-50%);
	    font-family: $fontExtraBold;
	    font-size: 50px;
	    line-height: 1;
	    color: $colorFontSecondary;
	}
	.about-copy {
		float: left;
		width: calc(100% - 20% - 200px);
		font-family: $fontBold;
	    font-size: 50px;
	    color: $colorFontPrimary;
	}
}