/* styles.scss
   ----------------------------- */

@font-face {
	font-family: "Futura Extra Black";
	src: url("../fonts/Futura Extra Black font.ttf");	
}
@font-face {
	font-family: "Mosk Thin";
	src: url("../fonts/Mosk Thin 100.ttf");	
}
@font-face {
	font-family: "Mosk Regular";
	src: url("../fonts/Mosk Normal 400.ttf");	
}
@font-face {
	font-family: "Mosk Bold";
	src: url("../fonts/Mosk Semi-Bold 600.ttf");
}
@font-face {
	font-family: "Mosk Extra Bold";
	src: url("../fonts/Mosk Extra-Bold 800.ttf");	
}
@font-face {
	font-family: "Mosk Ultra Bold";
	src: url("../fonts/Mosk Ultra-Bold 900.ttf");
}

$fontThin : 'Mosk Thin', sans-serif;
$fontRegular : 'Mosk Regular', sans-serif;
$fontBold : 'Mosk Bold', sans-serif;
$fontExtraBold : 'Mosk Extra Bold', sans-serif;
$fontUltraBold : 'Mosk Ultra Bold', sans-serif;
$lightGreen : #8EE4AF;
$colorPrimary : #F2BB05;
$colorSecondary : #000000;
$colorTertiary : #5E5E5E;
$colorFontPrimary : #000000;
$colorFontSecondary : #FFFFFF;
$blue : #05386B;
$grey : #EDF5E1;
$dotSpace : 22px;
$dotSize : 1px;

html {
	scroll-behavior: smooth;
}
body {
	background: linear-gradient(90deg, $colorPrimary ($dotSpace - $dotSize), transparent 1%) center,
				linear-gradient($colorPrimary ($dotSpace - $dotSize), transparent 1%) center,
				$colorSecondary;
	background-size: $dotSpace $dotSpace;
	background-position-x: -$dotSpace/2;
	background-position-y: -$dotSpace/2;
	background-attachment: fixed;
	font-family: $fontRegular;
	font-size: 16px;
	line-height: 1.2;
	color: $colorFontPrimary;
}
.container {
	padding: 0 50px;
}
header {
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.logo {
	display: inline-block;
	font-family: $fontUltraBold;
	font-size: 50px;
	line-height: 1.2;
	color: $colorSecondary;
	text-decoration: none;
	padding: 10px 0 20px 0;
	letter-spacing: -3px;
}
#intro {
	position: relative;
	height: calc(100vh - 90px);
	margin: 90px 0 0 0;
	min-height: 100vh;
	.content {
		position: absolute;
		font-family: $fontExtraBold;
		font-size: 50px;
		color: $colorFontSecondary;
		text-align: center;		
		top: calc(50% - 90px/2);
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
.divider {
	position: relative;
	width: 100%;
	height: 70vh;
	.frame-v {
		position: absolute;
		width: 4px;
		height: 100vh;
		right: 20%;
		bottom: 0;
		background: #000;
		transform: translate(50%, 0);
	}
	.frame-h {
		position: absolute;
		width: 300px;
		height: 4px;
		background: #000;
		right: 20%;
		bottom: 0;
		transform: translate(50px,-50px);		
	}
	.frame-right {
		right: 20%;
		bottom: 0;
	}
	.frame-left {
		left: 20%;
		bottom: 0;
		&.frame-v {
			transform: translate(-50%, 0);
		}
		&.frame-h {
			transform: translate(-50px, -50px);
		}
	}
}
#about {
	position: relative;
	.about-head {
	    font-family: $fontExtraBold;
	    font-size: 70px;
	    line-height: 1;
	    color: $colorFontSecondary;
	    margin: 0 20%;
	}
	.about-content {
		box-sizing: border-box;
	    margin: 0 20%;
	    padding-top: 30px;
	    overflow: hidden;
	    .profile-picture {
			float: left;
			width: 200px;
			border: 16px double $colorFontPrimary;
			img {
				display: block;
				max-width: 100%;
			}
		}
		.about-copy {		
			float: right;
			width: calc(100% - 232px);
			padding-left: 30px;
			box-sizing: border-box;
			font-family: $fontRegular;
			font-weight: bold;
		    font-size: 16px;
		    line-height: 1.5;
		    color: $colorFontPrimary;	    
		    word-spacing: 0.1em;
		    letter-spacing: 0.05em;	   
		    p {
				margin-bottom: 10px;
			}
			.availability {
				margin: 30px 0;
				font-style: italic;
			}
			.quick-links {
				list-style-type: disc;
				list-style-position: inside;
			}
			.quick-links li {
				margin-bottom: 10px;
			}
			.quick-links a {
				color: #000;
			}
		}
	}	
	& + .divider {
		height: 50vh;
		.frame-v {
			height: 70vh;
		}
	}	
}

.hamburger-toggle {
	padding: 15px 0;
	display: inline-block;
	cursor: pointer;
	transition: opacity 0.15s linear, filter 0.15s linear;
	line-height: 0;
	margin: 15px 0;
	float: right;
	&.active {
		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after {
		  background-color: #262626;
		}
	}
	.hamburger-box {
	  width: 40px;
	  height: 30px;
	  display: inline-block;
	  position: relative;
	}
	.hamburger-inner {
	  display: block;
	  top: 50%;
	  margin-top: -3px;	  
	  &,
	  &::before,
	  &::after {
	    width: 40px;
	    height: 6px;
	    background-color: #262626;
	    border-radius: 4px;
	    position: absolute;
	    transition: transform 0.15s ease, background-color 0.4s ease;	    
	  }
	  &::before,
	  &::after {
	    content: "";
	    display: block;
	  }
	  &::before {
	    top: -10px;
	  }
	  &::after {
	    bottom: -10px;
	  }
	}
	&.hamburger-arrow.active {		
	    .hamburger-inner {
	      &,
	      &::before,
	      &::after {
	      	background-color: #fff;
	      }
	      &::before {
	        transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
	      }
	      &::after {
	        transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
	      }
	    }
	    &:hover .hamburger-inner,
	    &:hover .hamburger-inner::before,
	    &:hover .hamburger-inner::after {
	    	background-color: $colorPrimary;
	    }
	}
	& + .hamburger-menu {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: calc(20% + 2px);
		transform: translateX(100%);
		transition: transform 0.4s ease;
		z-index: -1;
		background: linear-gradient(90deg, #262626 21px, transparent 1%) center, linear-gradient(#262626 21px, transparent 1%) center, #F2BB05;
		background-size: 22px 22px;
		background-position-x: -11px;
	    background-position-y: -11px;
	    background-attachment: fixed;
	}
	&.active + .hamburger-menu {
		transform: translateX(0);
	}	
}
.hamburger-links {
	position: fixed;
    top: 50%;
    transform: translate(40px, -50%);
    a {
    	display: block;
    	color: #fff;
    	font-family: $fontBold;
    	text-decoration: none;
    	font-size: 32px;
    	padding: 5px 0;
    	transition: color 0.4s ease;
    	&:hover {
    		color: $colorPrimary;
    	}
    }
}
.hamburger-social {
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
	li {
		display: inline-block;
		width: 40px;
		padding: 0 2%;
	}
	path,
	rect {
		transition: fill 0.4s ease;
	}
	a:hover path,
	a:hover rect {
		fill: $colorPrimary;
	}
}
.education {
	position: relative;
	min-height: 100vh;
	.frame-2v {
		width: 300px;
	    height: 4px;
	    background: #262626;
	    position: absolute;
	    left: 80%;
	    top: calc(50% - 200px);
	    transform: translate(calc(-100% + 50px), -50%);
	}
	.frame-2h {
		height: 90vh;
	    position: absolute;
	    width: 4px;
	    background: #262626;
	    transform: translate(-50%, calc(-100% + 50px));
	    left: 80%;
	    top: calc(50% - 200px);
	}
}