/* styles.scss
   ----------------------------- */
@font-face {
  font-family: "Futura Extra Black";
  src: url("../fonts/Futura Extra Black font.ttf"); }

@font-face {
  font-family: "Mosk Thin";
  src: url("../fonts/Mosk Thin 100.ttf"); }

@font-face {
  font-family: "Most Regular";
  src: url("../fonts/Mosk Normal 400.ttf"); }

@font-face {
  font-family: "Mosk Bold";
  src: url("../fonts/Mosk Semi-Bold 600.ttf"); }

@font-face {
  font-family: "Mosk Extra Bold";
  src: url("../fonts/Mosk Extra-Bold 800.ttf"); }

@font-face {
  font-family: "Mosk Ultra Bold";
  src: url("../fonts/Mosk Ultra-Bold 900.ttf"); }

body {
  background: linear-gradient(90deg, #F2BB05 21px, transparent 1%) center, linear-gradient(#F2BB05 21px, transparent 1%) center, #262626;
  background-size: 22px 22px;
  background-position-x: -11px;
  background-position-y: -11px;
  font-family: "Mosk Regular", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #000000; }

.container {
  padding: 0 50px; }

header {
  height: 90px; }

.logo {
  display: inline-block;
  font-family: "Mosk Ultra Bold", sans-serif;
  font-size: 50px;
  line-height: 1.2;
  color: #262626;
  text-decoration: none;
  padding: 15px 0;
  letter-spacing: -3px; }

.intro {
  position: relative;
  height: calc(100vh - 90px); }
  .intro .content {
    position: absolute;
    font-family: "Mosk Extra Bold", sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    top: calc(50% - 90px/2);
    left: 50%;
    transform: translate(-50%, -50%); }

.about {
  position: relative;
  margin-top: 25vh; }
  .about .picture {
    width: 200px;
    border: 16px double #000000;
    margin-left: 20%;
    transform: translateX(-50%);
    float: left; }
    .about .picture img {
      display: block;
      max-width: 100%; }
  .about .about-head {
    position: absolute;
    top: 0;
    left: calc(20% + 100px);
    transform: translate(-50%, -50%);
    font-family: "Mosk Extra Bold", sans-serif;
    font-size: 50px;
    line-height: 1;
    color: #FFFFFF; }
  .about .about-copy {
    float: left;
    width: calc(100% - 20% - 200px);
    font-family: "Mosk Bold", sans-serif;
    font-size: 50px;
    color: #000000; }
