/* styles.scss
   ----------------------------- */
@font-face {
  font-family: "Futura Extra Black";
  src: url("../fonts/Futura Extra Black font.ttf"); }

@font-face {
  font-family: "Mosk Thin";
  src: url("../fonts/Mosk Thin 100.ttf"); }

@font-face {
  font-family: "Mosk Regular";
  src: url("../fonts/Mosk Normal 400.ttf"); }

@font-face {
  font-family: "Mosk Bold";
  src: url("../fonts/Mosk Semi-Bold 600.ttf"); }

@font-face {
  font-family: "Mosk Extra Bold";
  src: url("../fonts/Mosk Extra-Bold 800.ttf"); }

@font-face {
  font-family: "Mosk Ultra Bold";
  src: url("../fonts/Mosk Ultra-Bold 900.ttf"); }

body {
  background: linear-gradient(90deg, #F2BB05 21px, transparent 1%) center, linear-gradient(#F2BB05 21px, transparent 1%) center, #262626;
  background-size: 22px 22px;
  background-position-x: -11px;
  background-position-y: -11px;
  background-attachment: fixed;
  font-family: "Mosk Regular", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #000000; }

.container {
  padding: 0 50px; }

header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }

.logo {
  display: inline-block;
  font-family: "Mosk Ultra Bold", sans-serif;
  font-size: 50px;
  line-height: 1.2;
  color: #262626;
  text-decoration: none;
  padding: 15px 0;
  letter-spacing: -3px; }

.intro {
  position: relative;
  height: calc(100vh - 90px);
  margin-top: 90px;
  min-height: 100vh; }
  .intro .content {
    position: absolute;
    font-family: "Mosk Extra Bold", sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    top: calc(50% - 90px/2);
    left: 50%;
    transform: translate(-50%, -50%); }

.about {
  position: relative;
  min-height: 100vh; }
  .about .frame-1h {
    width: 300px;
    height: 4px;
    background: black;
    position: absolute;
    left: 80%;
    top: calc(50% - 200px);
    transform: translate(calc(-100% + 50px), -50%); }
  .about .frame-1v {
    height: 70vh;
    position: absolute;
    width: 4px;
    background: black;
    transform: translate(-50%, calc(-100% + 50px));
    left: 80%;
    top: calc(50% - 200px); }
  .about .picture {
    width: 200px;
    border: 16px double #000000;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .about .picture img {
      display: block;
      max-width: 100%; }
  .about .about-head {
    position: absolute;
    top: calc(50% - 120px);
    left: calc(25% + 160px);
    transform: translate(-50%, -50%);
    font-family: "Mosk Extra Bold", sans-serif;
    font-size: 70px;
    line-height: 1;
    color: #FFFFFF; }
  .about .about-copy {
    position: absolute;
    right: 20%;
    top: calc(50% - 116px);
    width: calc(100% - 25% - 20% - 116px);
    font-family: "Mosk Regular", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    padding: 70px 40px 0 40px;
    box-sizing: border-box; }
  .about .about-copy p {
    margin-bottom: 10px; }
